* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    height: 130vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
    background: red;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.html {
    animation: html 1s linear forwards;
}
.css {
    animation: css 1s linear forwards;
}
.js {
    animation: js 1s linear forwards;
}
.python {
    animation: python 1s linear forwards;
}
.redux {
    animation: redux 1s linear forwards;
}
.db {
    animation: db 1s linear forwards;
}
.react{
    animation: react 1s linear forwards;
}
.django {
    animation: django 1s linear forwards;
}
.mongodb {
    animation: mongodb 1s linear forwards;
}
.nodejs {
    animation: nodejs 1s linear forwards;
}
.bootstrap {
    animation: bootstrap 1s linear forwards;
}
.tailwind {
    animation: tailwind 1s linear forwards;
}
.figma {
    animation: figma 1s linear forwards;
}

@keyframes html {
    100%{
        width: 90%;
    }
}
@keyframes css {
    100%{
        width: 75%;
    }
}
@keyframes js {
    100%{
        width: 70%;
    }
}
@keyframes python {
    100%{
        width: 60%;
    }
}
@keyframes redux {
    100%{
        width: 60%;
    }
}
@keyframes react {
    100%{
        width: 80%;
    }
}
@keyframes nodejs {
    100%{
        width: 80%;
    }
}
@keyframes django {
    100%{
        width: 60%;
    }
}
@keyframes mongodb {
    100%{
        width: 90%;
    }
}
@keyframes db {
    100%{
        width: 80%;
    }
}
@keyframes figma {
    100%{
        width: 90%;
    }
}
@keyframes bootstrap {
    100%{
        width: 86%;
    }
}
@keyframes tailwind {
    100%{
        width: 81%;
    }
}
